@import 'namespace';

.#{$NS}-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: $breadcrumb-padding-y $breadcrumb-padding-x;
  margin-bottom: $breadcrumb-margin-bottom;
  @include font-size($breadcrumb-font-size);
  list-style: none;
  background-color: $breadcrumb-bg;
  @include border-radius($breadcrumb-border-radius);
}

.#{$NS}-breadcrumb-item {
  display: flex;
  // The separator between breadcrumbs (by default, a forward-slash: "/")
  & > .#{$NS}-icon {
    color: $breadcrumb-divider-color;
    margin: 0 0.5rem;
  }
  &.active {
    color: $breadcrumb-active-color;
  }
}
