.#{$ns}-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  & > svg {
    @include icon-size($btn-font-size);
  }

  &.rotating {
    animation: rotating 0.5s linear infinite;
  }
}

.#{$ns}-icon-lg {
  & > svg {
    @include icon-size($btn-font-size-lg);
  }
}

.#{$ns}-icon-sm {
  & > svg {
    @include icon-size($btn-font-size-sm);
  }
}
