@import 'namespace';

.#{$NS}-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  & > svg {
    @include icon-size($btn-font-size);
  }

  &--rotating {
    animation: rotating 0.5s linear infinite;
  }
}

.#{$NS}-icon--lg {
  & > svg {
    @include icon-size($btn-font-size-lg);
  }
}

.#{$NS}-icon--sm {
  & > svg {
    @include icon-size($btn-font-size-sm);
  }
}


