// Base class

.menu {
  padding-left: 0;
  width: $menu-width;
  background-color: $light;
  &.horizontal-collapse {
    width: $menu-collapse-width;
    > .menu-item {
      padding-left: 0 !important;
      display: flex;
      justify-content: center;
      > .menu-item__inner {
        > .menu-item__wrapper {
          > .menu-item__prefix {
            padding: $menu-icon-collapse-padding-y 0;
            margin-right: 0;
          }
          > .menu-item__content {
            display: none;
          }
        }
      }
    }
    > .submenu {
      > .submenu__header {
        padding-left: 0 !important;;
        display: flex;
        justify-content: center;
        > .submenu__wrapper {
          > .submenu__prefix {
            padding: $menu-icon-collapse-padding-y 0;
            margin-right: 0;
          }
          > .submenu__content {
            display: none;
          }
        }

        > .submenu__suffix {
          display: none;
        }
      }

      .submenu__body {
        width: $submenu-body-collapse-width;
        .menu-item {
          padding-left: $menu-item-collapse-padding-x !important;
          .menu-item__prefix {
            margin-right: 0;
          }
        }
        .menu-group {
          .menu-group__header {
            padding-left: $menu-group-collapse-padding-x !important;
          }
          .menu-group__body {
            > .menu-item {
              padding-left: $menu-item-menu-group-collapse-padding-x !important;
            }
            .submenu {
              > .submenu__header {
                padding-left: $submenu-menu-group-collapse-padding-x !important;
              }
            }
          }
        }
        .submenu__header {
          padding-left: $submenu-padding-x !important;
          .submenu__prefix {
            margin-right: 0;
          }
          .submenu__suffix {
            > .icon {
              @include transition($submenu-icon-transition);
            }
          }
          &:hover {
            .submenu__suffix {
              > .icon {
                transform: rotate(-90deg);
                @include transition($submenu-icon-transition);
              }
            }
          }
        }
      }
    }
  }
}

.submenu {
  > .submenu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $submenu-padding-y 0  $submenu-padding-y 0;
    &:hover,
    &:focus {
      color: $menu-item-hover-color;
      text-decoration: if($link-hover-decoration == underline, none, null);
      @include gradient-bg($menu-item-hover-bg);
      cursor: pointer;
    }

    &.active,
    &:active {
      color: $menu-item-active-color;
      text-decoration: none;
      @include gradient-bg($menu-item-active-bg);
      cursor: pointer;
    }

    &.disabled,
    &:disabled {
      color: $menu-item-disabled-color;
      // pointer-events: none;
      background-color: transparent;
      // Remove CSS gradients if they're enabled
      background-image: if($enable-gradients, none, null);
      cursor: not-allowed;
    }
    > .submenu__wrapper {
      display: flex;
      align-items: center;
      > .submenu__prefix {
        margin-right: $submenu-padding-x;
      }
    }
    > .submenu__suffix {
      padding-right: $submenu-padding-x;
      > .icon {
        @include transition($submenu-icon-transition);
      }
    }
  }

  &.show {
    > .submenu__header {
      > .submenu__suffix {
        > .icon {
          transform: rotate(180deg);
          @include transition($submenu-icon-transition);
        }
      }
    }
  }
}

.menu-item {
  padding: $menu-item-padding-y 0 $menu-item-padding-y 0;

  &:hover,
  &:focus {
    color: $menu-item-hover-color;
    text-decoration: if($link-hover-decoration == underline, none, null);
    @include gradient-bg($menu-item-hover-bg);
    cursor: pointer;
  }

  &.active,
  &:active {
    color: $menu-item-active-color;
    text-decoration: none;
    @include gradient-bg($menu-item-active-bg);
    cursor: pointer;
  }

  &.disabled,
  &:disabled {
    color: $menu-item-disabled-color;
    // pointer-events: none;
    background-color: transparent;
    // Remove CSS gradients if they're enabled
    background-image: if($enable-gradients, none, null);
    cursor: not-allowed;
  }

  .menu-item__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-item__prefix {
      margin-right: $menu-item-padding-x;
    }
    //.menu-item__suffix {
    //  padding-right: $menu-item-padding-x;
    //}
    .menu-item__wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

.menu-group {
  .menu-group__header {
    padding: $menu-item-padding-y 0 $menu-item-padding-y 0;
    color: $menu-item-disabled-color;
  }
}
