// Base class

.menu {
  padding-left: 0;
  padding-bottom: $menu-padding-y;
  width: $menu-width;
  background-color: $light;
  border: 1px solid transparent;
  &.horizontal-collapse {
    width: $menu-collapse-width;
    > .menu-item {
      display: flex;
      justify-content: center;
      > .menu-item__inner {
        padding: $menu-item-padding-y $menu-item-collapse-padding-x !important;
        > .menu-item__wrapper {
          > .menu-item__prefix {
            padding: $menu-icon-collapse-padding-y 0;
            margin-right: 0;
          }
          > .menu-item__content {
            display: none;
          }
        }
      }
    }
    > .submenu {
      > .submenu-header {
        display: flex;
        justify-content: center;
        > .submenu-header__inner {
          padding: $submenu-padding-y $submenu-collapse-padding-x !important;
          > .submenu-header__wrapper {
            > .submenu-header__prefix {
              padding: $menu-icon-collapse-padding-y 0;
              margin-right: 0;
            }
            > .submenu-header__content {
              display: none;
            }
          }

          > .submenu-header__suffix {
            display: none;
          }
        }
      }

      .submenu-body {
        width: $submenu-body-collapse-width;
        border: 1px solid transparent;
        padding-bottom: 0.5rem;
        .menu-item {
          .menu-item__inner {
            padding-left: 1.5rem !important;
            .menu-item__wrapper {
              padding-left: 0 !important;
            }
          }
          .menu-item__prefix {
            margin-right: 0 !important;
          }
        }
        .menu-group {
          .menu-group-header {
            padding: $menu-item-padding-y 0;
            padding-left: $menu-group-collapse-padding-x !important;
          }
          .menu-group-body {
            > .menu-item {
              .menu-item__prefix {
                margin-right: 0 !important;
              }
            }
            .submenu {
              > .submenu-header {
                padding-left: $submenu-menu-group-collapse-padding-x !important;
              }
            }
          }
        }
        .submenu-header {
          padding-left:  0 !important;
          .submenu-header__inner {
            padding-left: 1.5rem !important;
            .submenu-header__wrapper {
              padding-left: 0;
            }
          }
          .submenu-header__prefix {
            margin-right: 0;
          }
          .submenu-header__suffix {
            > .icon {
              @include transition($submenu-icon-transition);
            }
          }
          &:hover {
            .submenu-header__suffix {
              > .icon {
                transform: rotate(-90deg);
                @include transition($submenu-icon-transition);
              }
            }
          }
        }
      }
    }
  }
}

.submenu {
  margin-top: $submenu-padding-y;
  > .submenu-header {
    &:hover,
    &:focus {
      > .submenu-header__inner {
        color: $menu-item-hover-color;
        text-decoration: if($link-hover-decoration == underline, none, null);
        @include gradient-bg($menu-item-hover-bg);
        cursor: pointer;
      }
    }

    > .submenu-header__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 $submenu-padding-y;
      padding: $submenu-padding-y 0;
      border-radius: $submenu-border-radius;
      > .submenu-header__wrapper {
        display: flex;
        align-items: center;
        > .submenu-header__prefix {
          margin-right: $submenu-padding-x;
        }
      }
      > .submenu-header__suffix {
        > .icon {
          @include transition($submenu-icon-transition);
        }
      }
    }
  }

  &.show {
    > .submenu-header {
      > .submenu-header__inner {
        > .submenu-header__suffix {
          > .icon {
            transform: rotate(180deg);
            @include transition($submenu-icon-transition);
          }
        }
      }
    }
  }
}

.menu-item {
  margin-top: $menu-item-padding-y;
  &:hover,
  &:focus {
    > .menu-item__inner {
      color: $menu-item-hover-color;
      text-decoration: if($link-hover-decoration == underline, none, null);
      @include gradient-bg($menu-item-hover-bg);
      cursor: pointer;
    }
  }

  &.active,
  &:active {
    > .menu-item__inner {
      color: $menu-item-active-color;
      text-decoration: none;
      @include gradient-bg($menu-item-active-bg);
      cursor: pointer;
    }
  }

  &.disabled,
  &:disabled {
    > .menu-item__inner {
      color: $menu-item-disabled-color;
      background-color: transparent;
      background-image: if($enable-gradients, none, null);
      cursor: not-allowed;
    }
  }

  .menu-item__inner {
    display: flex;
    margin: 0 $menu-item-padding-y;
    padding: $menu-item-padding-y 0;
    border-radius: $menu-item-border-radius;
    align-items: center;
    .menu-item__prefix {
      margin-right: $menu-item-padding-x;
    }
    .menu-item__wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

.menu-group {
  margin-top: $menu-item-padding-y;
  .menu-group-header {
    padding: $menu-item-padding-y 0;
    color: $menu-item-disabled-color;
  }
}
