// Shared between modals and offcanvases
@mixin overlay-backdrop($zindex, $backdrop-bg, $backdrop-opacity) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $backdrop-bg;
  opacity: $backdrop-opacity;
  visibility: hidden;
  transition: all 0.15s ease-in-out;
}
