@import '../variables/namespace';
@import '../variables/color';
@import '../variables/size';

.#{$ns}-checkbox {
  position: relative;
  height: 100%;
  &.#{$ns}-default {
    label {
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      .#{$ns}-check {
        position: relative;
        box-sizing: border-box;
        border: 1px solid $checkbox-primary-border-color;
        border-radius: $checkbox-default-radius;
        height: $checkbox-default-height;
        width: $checkbox-default-width;
        margin-right: 10px;
        color: $checkbox-primary-active-icon-color;

        .#{$ns}-checked {
          visibility: hidden;
          opacity: 0;
          position: absolute;
        }
        .#{$ns}-indeterminate {
          position: absolute;
          visibility: hidden;
          opacity: 0;
        }
      }
      .#{$ns}-label {
        color: $checkbox-primary-text-color;
      }
    }

    &:hover {
      .#{$ns}-check {
        border-color: $checkbox-primary-hover-border-color;
      }
      .#{$ns}-label {
        color: $checkbox-primary-hover-text-color;
      }
    }

    &:focus {
      outline: none;
      .#{$ns}-check {
        border-color: $checkbox-primary-hover-border-color;
        &.#{$ns}-aria {
          box-shadow: $checkbox-primary-active-box-shadow-color;
        }
      }
      .#{$ns}-label {
        color: $checkbox-primary-hover-text-color;
      }
    }

    input[type='checkbox'] {
      display: none;

      &:checked {
        ~ label {
          .#{$ns}-check {
            background-color: $checkbox-primary-active-bg-color;
            border: $checkbox-primary-active-border-color;
            &.#{$ns}-aria {
              box-shadow: $checkbox-primary-active-box-shadow-color;
            }
            .#{$ns}-checked {
              visibility: visible;
              opacity: 1;
              height: $checkbox-default-checked;
              width: $checkbox-default-checked;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: $checkbox-primary-active-icon-color;
            }
          }
        }
      }

      &:indeterminate {
        ~ label {
          .#{$ns}-check {
            background-color: $checkbox-primary-active-bg-color;
            border: $checkbox-primary-active-border-color;
            &.#{$ns}-aria {
              box-shadow: $checkbox-primary-active-box-shadow-color;
            }
            .#{$ns}-indeterminate {
              visibility: visible;
              opacity: 1;
              height: $checkbox-default-indeterminate;
              width: $checkbox-default-indeterminate;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: $checkbox-primary-active-icon-color;
            }
          }
        }
      }
    }
    &.#{$ns}-disabled {
      input[type='checkbox'] {
        display: none;

        ~ label {
          cursor: not-allowed;
          .#{$ns}-check {
            background-color: $checkbox-primary-disabled-bg-color;
            border: 1px solid $checkbox-primary-disabled-border-color;
            &.#{$ns}-aria {
              box-shadow: none;
            }
            .#{$ns}-indeterminate,
            .#{$ns}-checked {
              color: $checkbox-primary-disabled-icon-color;
            }
          }
          .#{$ns}-label {
            color: $checkbox-primary-disabled-text-color;
          }
        }
      }
    }
  }

  &.#{$ns}-circle {
    label {
      display: flex;
      align-items: center;
      height: 100%;
      cursor: pointer;
      .#{$ns}-check {
        position: relative;
        box-sizing: border-box;
        background-color: $checkbox-circle-bg-color;
        border: none;
        border-radius: $checkbox-circle-border-radius;
        height: $checkbox-default-height;
        width: $checkbox-default-width;
        margin-right: 10px;
        color: $checkbox-primary-icon-color;
        .#{$ns}-checked {
          visibility: hidden;
          opacity: 0;
          position: absolute;
        }
        .#{$ns}-indeterminate {
          position: absolute;
          visibility: hidden;
          opacity: 0;
        }
      }
      .#{$ns}-label {
        color: $checkbox-primary-text-color;
      }
    }

    &:hover {
      .#{$ns}-label {
        color: $checkbox-primary-hover-text-color;
      }
    }

    &:focus {
      outline: none;
      .#{$ns}-label {
        color: $checkbox-primary-hover-text-color;
      }
    }

    input[type='checkbox'] {
      display: none;

      &:checked {
        ~ label {
          .#{$ns}-check {
            background-color: $checkbox-primary-active-bg-color;
            &.#{$ns}-aria {
              box-shadow: $checkbox-primary-active-box-shadow-color;
            }
            .#{$ns}-checked {
              visibility: visible;
              opacity: 1;
              height: $checkbox-default-checked;
              width: $checkbox-default-checked;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: $checkbox-primary-active-icon-color;
            }
          }
        }
      }

      &:indeterminate {
        ~ label {
          .#{$ns}-check {
            background-color: $checkbox-primary-active-bg-color;
            &.#{$ns}-aria {
              box-shadow: $checkbox-primary-active-box-shadow-color;
            }
            .#{$ns}-indeterminate {
              visibility: visible;
              opacity: 1;
              height: $checkbox-default-indeterminate;
              width: $checkbox-default-indeterminate;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: $checkbox-primary-active-icon-color;
            }
          }
        }
      }
    }
    &.#{$ns}-disabled {
      input[type='checkbox'] {
        display: none;

        ~ label {
          cursor: not-allowed;
          .#{$ns}-check {
            background-color: $checkbox-circle-disabled-bg-color;
            &.#{$ns}-aria {
              box-shadow: none;
            }
            .#{$ns}-indeterminate,
            .#{$ns}-checked {
              color: $checkbox-primary-disabled-icon-color;
            }
          }
          .#{$ns}-label {
            color: $checkbox-primary-disabled-text-color;
          }
        }
      }
    }
  }
}
