@import '../variables/namespace';
@import '../variables/color';
@import '../variables/animation';
@import '../variables/size';

.#{$ns}-datetimerangepicker {
  position: relative;
  border-radius: 4px;
  display: flex;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  outline: none;
  border: 1px solid $datetimerangepicker-field-primary-border-color;
  background-color: $datetimerangepicker-field-primary-bg-color;

  &.focus {
    border: 1px solid $datetimerangepicker-field-primary-active-border-color;
    box-shadow: $datetimerangepicker-field-primary-active-box-shadow-color;
  }
  .#{$ns}-datetimepicker {
    border: none;
    box-shadow: none;
    outline: none;
    flex: 1;
  }
  .#{$ns}-datetimepicker:first-child[aria-expanded="true"] {
    &.focus {
      position: relative;

      &::after {
        position: absolute;
        left: 8px;
        bottom: 0;
        content: '';
        display: block;
        border-bottom: 2px solid $datetimerangepicker-field-primary-active-border-color;
        width: calc(100% - 40px);
      }
    }
  }
  .#{$ns}-datetimepicker:last-child[aria-expanded="true"] {
    &.focus {
      position: relative;

      &::after {
        position: absolute;
        left: 8px;
        bottom: 0;
        content: '';
        display: block;
        border-bottom: 2px solid $datetimerangepicker-field-primary-active-border-color;
        width: calc(100% - 40px);
      }
    }
  }

  &.#{$ns}-disabled {
    border: 1px solid $datetimerangepicker-field-disabled-border-color;
  }
}
