@import '../variables/namespace';
@import '../variables/color';
@import '../variables/animation';
@import '../variables/size';

.#{$ns}-datetimepicker {
  position: relative;
  border-radius: 4px;
  display: flex;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  outline: none;
  border: 1px solid $datetimepicker-field-primary-border-color;
  background-color: $datetimer-primary-bg-color;

  .#{$ns}-datetimepicker-field {
    height: $datetimepicker-default-height;
    box-sizing: border-box;
    padding: 0 32px 0 12px;
    width: inherit;

    input {
      display: flex;
      align-items: center;
      width: inherit;
      height: inherit;
      box-sizing: border-box;
      font-size: $font-default-size;
      outline: none;
      border: none;
      padding: 0;
      background-color: transparent;
      color: $datetimepicker-field-primary-text-color;

      &::-ms-clear,
      input::-ms-reveal { display: none; }

      &::placeholder {
        color: $datetimepicker-field-primary-placeholder-color;
        font-size: $font-default-size;
      }
    }

    .#{$ns}-prefix {
      transition: all 0.1s linear;
      color: $datepicker-field-primary-icon-color;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 8px;
      display: flex;
      align-items: center;
      &.#{$ns}-loading {
        animation: rotating 0.5s linear infinite;
      }
    }

    .#{$ns}-suffix {
      cursor: pointer;
      transition: all 0.1s linear;
      color: $datepicker-field-primary-icon-color;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 8px;
      display: flex;
      align-items: center;
      &.#{$ns}-loading {
        animation: rotating 0.5s linear infinite;
      }
    }
  }

  &.focus {
    outline: none;
    border: 1px solid $datetimepicker-field-primary-active-border-color;
    box-shadow: $datetimepicker-field-primary-active-box-shadow-color;
  }

  &.#{$ns}-disabled {
    border: 1px solid $datetimepicker-field-disabled-border-color;
    box-shadow: none;
    .#{$ns}-datetimepicker-field {
      cursor: not-allowed;

      input {
        cursor: not-allowed;
        background-color: $datetimepicker-field-disabled-bg-color;
        color: $datetimepicker-field-disabled-text-color;

        &::-ms-clear,
        input::-ms-reveal { display: none; }

        &::placeholder {
          color: $datetimepicker-field-disabled-placeholder-color;
        }
      }
      .#{$ns}-suffix {
        cursor: not-allowed;
        color: $datetimepicker-field-disabled-icon-color;
      }
    }
  }
}

.tippy-box {
  &[data-theme="datetimepicker"] {
    margin-top: 8px;
    padding-bottom: 0;
    border: 1px solid $datetimer-primary-border-color;
    border-radius: 4px;
    box-shadow: $datetimer-primary-shadow-color;
    background-color: $datetimer-primary-bg-color;
    max-width: $datetimer-default-width !important;
  }

  .tippy-content {
    padding: 0;
    .#{$ns}-datetimer {
      display: flex;
      flex-direction: column;
      .#{$ns}-datetimer-body {
        display: flex;
        .#{$ns}-dater {
          width: $dater-default-width;
          .#{$ns}-dater-header {
            padding: 0 12px;
            height: $dater-header-height;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left,
            .right {
              display: flex;
              align-items: center;
              cursor: pointer;
            }

            .left {
              svg {
                width: 18px;
                height: 18px;
                color: $dater-primary-icon-color;
              }
            }

            .right {
              svg {
                width: 18px;
                height: 18px;
                color: $dater-primary-icon-color;
              }
            }
            .#{$ns}-dater-header-title {
              position: absolute;
              font-size: $font-default-size;
              line-height: $font-default-line-height;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: $dater-primary-text-color;
            }
          }
          .#{$ns}-dater-body {
            height: $dater-body-height;
            .#{$ns}-days-in-week {
              display: flex;
              box-sizing: border-box;
              flex-wrap: nowrap;
              padding: 0 12px;

              & > div {
                width: calc(100% / 7);
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $dater-primary-text-color;
              }
            }
            .#{$ns}-days-in-grid {
              padding: 0 12px;
              display: flex;
              flex-wrap: wrap;
              box-sizing: border-box;

              & > div {
                height: 30px;
                width: calc(100% / 7);
                display: flex;
                justify-content: center;
                align-items: center;
                .#{$ns}-day-item {
                  outline: none;
                  cursor: pointer;
                  width: 24px;
                  height: 24px;
                  font-size: $font-default-size;
                  line-height: $font-default-line-height;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: $dater-primary-text-color;
                  border-radius: 2px;
                  box-sizing: border-box;

                  &.disable {
                    color: $dater-disabled-text-color;
                  }

                  &:hover:not(.disable) {
                    color: $dater-primary-hover-text-color;
                    background-color: $dater-primary-hover-text-bg-color;
                  }

                  &.active {
                    outline: none;
                    background-color: $dater-primary-active-text-bg-color;
                    border-radius: 2px;
                    color: $dater-primary-active-text-color;

                    &:hover:not(.disable) {
                      color: $dater-primary-hover-text-color;
                      background-color: $dater-primary-hover-text-bg-color;
                    }
                  }

                  &.mark {
                    border: 1px solid $dater-primary-text-marker-border-color;
                    border-radius: 2px;
                  }
                }
              }
            }

            &::before {
              content: '';
              display: block;
              width: 100%;
              border-top: 1px solid $dater-primary-border-color;
              margin-bottom: 8px;
            }
          }
        }

        .#{$ns}-timer {
          border-left: 1px solid $timer-primary-border-color;
          width: $timer-default-width;
          .#{$ns}-timer-header {
            height: 40px;
            border-bottom: 1px solid $timer-primary-border-color;
            display: flex;
            font-size: $font-default-size;
            line-height: $font-default-line-height;
            justify-content: center;
            align-items: center;
            color: $timer-primary-text-color;
          }
          .#{$ns}-timer-body {
            display: flex;
            justify-content: space-between;
            width: inherit;
            background-color: $timer-primary-bg-color;
            .#{$ns}-scrollbar-wrapper {
              display: flex;
              justify-content: center;
            }
            .#{$ns}-hour,
            .#{$ns}-minute,
            .#{$ns}-second {
              width: 55px;
              height: 100%;
              background-color: $timer-primary-column-bg-color;

              div {
                padding: 3px 20px;
                font-size: $font-default-size;
                line-height: $font-default-line-height;
                text-align: center;
                cursor: pointer;
                color: $timer-primary-text-color;

                &:hover {
                  background-color: $timer-primary-hover-text-bg-color;
                  color: $timer-primary-hover-text-color;
                }

                &.active {
                  background-color: $timer-primary-active-text-bg-color;
                  color: $timer-primary-active-text-color;
                }
              }
            }
            .#{$ns}-hour {
              width: 56px;
            }
          }
        }
      }

      .#{$ns}-datetimer-footer {
        height: $dater-foot-height;

        &::before {
          content: '';
          display: block;
          border-top: 1px solid $datetimepicker-field-primary-border-color;
        }

        & > .btns {
          height: 44px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: $font-default-size;
          padding: 0 12px;
          cursor: pointer;

          & > .confirm {
            color: $timer-primary-primary-button-text-color;
            background-color: $timer-primary-primary-button-bg-color;
            border-radius: 2px;
            padding: 2px 7px;
            font-size: $font-default-size;
            line-height: $font-default-line-height;
          }

          & > .now {
            color: $timer-primary-text-button-text-color;
            font-size: $font-default-size;
            line-height: $font-default-line-height;
          }
        }
      }
    }
  }
}
