@import '../variables/namespace';
@import '../variables/color';
@import '../variables/animation';
@import '../variables/size';

.#{$ns}-datepicker {
  position: relative;
  border-radius: 4px;
  display: flex;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  outline: none;
  border: 1px solid $datepicker-field-primary-border-color;
  background-color: $datepicker-field-primary-bg-color;
  .#{$ns}-datepicker-field {
    height: $datepicker-default-height;
    box-sizing: border-box;
    padding: 0 32px 0 12px;
    width: inherit;

    input {
      display: flex;
      align-items: center;
      width: inherit;
      height: inherit;
      box-sizing: border-box;
      font-size: $font-default-size;
      outline: none;
      border: none;
      padding: 0;
      background-color: transparent;
      color: $datepicker-field-primary-text-color;

      &::-ms-clear,
      input::-ms-reveal {
        display: none;
      }

      &::placeholder {
        color: $datepicker-field-primary-placeholder-color;
        font-size: $font-default-size;
      }
    }

    .#{$ns}-prefix {
      color: $datepicker-field-primary-icon-color;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 8px;
      display: flex;
      align-items: center;
      &.#{$ns}-loading {
        animation: rotating 0.5s linear infinite;
      }
    }

    .#{$ns}-suffix {
      cursor: pointer;
      color: $datepicker-field-primary-icon-color;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 8px;
      display: flex;
      align-items: center;
      &.#{$ns}-loading {
        animation: rotating 0.5s linear infinite;
      }
    }
  }

  &.focus {
    outline: none;
    border: 1px solid $datepicker-field-primary-active-border-color;
    box-shadow: $datepicker-field-primary-active-box-shadow-color;
  }

  &.#{$ns}-disabled {
    border: 1px solid $datepicker-field-disabled-border-color;
    box-shadow: none;
    .#{$ns}-datepicker-field {
      cursor: not-allowed;

      input {
        cursor: not-allowed;
        background-color: $datepicker-field-disabled-bg-color;
        color: $datepicker-field-disabled-text-color;

        &::-ms-clear,
        input::-ms-reveal {
          display: none;
        }

        &::placeholder {
          color: $datepicker-field-disabled-placeholder-color;
        }
      }
      .#{$ns}-suffix {
        cursor: not-allowed;
        color: $datepicker-field-disabled-icon-color;
      }
    }
  }
}

.tippy-box {
  &[data-theme='datepicker'] {
    margin-top: 8px;
    padding-bottom: 0;
    width: $dater-default-width;
    border: 1px solid $dater-primary-border-color;
    border-radius: 4px;
    box-shadow: $dater-primary-shadow-color;
    background-color: $dater-primary-bg-color;
  }

  .tippy-content {
    padding: 0;
    .#{$ns}-dater {
      .#{$ns}-dater-header {
        height: $dater-header-height;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;

        .left,
        .right {
          display: flex;
          align-items: center;
          cursor: pointer;
        }

        .left {
          svg {
            width: 18px;
            height: 18px;
            color: $dater-primary-icon-color;
          }
        }

        .right {
          svg {
            width: 18px;
            height: 18px;
            color: $dater-primary-icon-color;
          }
        }
        .#{$ns}-dater-header-title {
          position: absolute;
          font-size: $font-default-size;
          line-height: $font-default-line-height;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $dater-primary-text-color;
        }
      }
      .#{$ns}-dater-body {
        height: $dater-body-height;
        .#{$ns}-days-in-week {
          display: flex;
          box-sizing: border-box;
          flex-wrap: nowrap;
          padding: 0 12px;

          & > div {
            width: calc(100% / 7);
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $dater-primary-text-color;
          }
        }
        .#{$ns}-days-in-grid {
          padding: 0 12px;
          display: flex;
          flex-wrap: wrap;
          box-sizing: border-box;

          & > div {
            height: 30px;
            width: calc(100% / 7);
            display: flex;
            justify-content: center;
            align-items: center;
            .#{$ns}-day-item {
              outline: none;
              cursor: pointer;
              width: 24px;
              height: 24px;
              font-size: $font-default-size;
              line-height: $font-default-line-height;
              display: flex;
              justify-content: center;
              align-items: center;
              color: $dater-primary-text-color;
              border-radius: 2px;
              box-sizing: border-box;

              &.disable {
                color: $dater-disabled-text-color;
              }

              &:hover:not(.disable) {
                color: $dater-primary-hover-text-color;
                background-color: $dater-primary-hover-text-bg-color;
              }

              &.active {
                outline: none;
                background-color: $dater-primary-active-text-bg-color;
                border-radius: 2px;
                color: $dater-primary-active-text-color;

                &:hover:not(.disable) {
                  color: $dater-primary-hover-text-color;
                  background-color: $dater-primary-hover-text-bg-color;
                }
              }

              &.mark {
                border: 1px solid $dater-primary-text-marker-border-color;
                border-radius: 2px;
              }
            }
          }
        }

        &::before {
          content: '';
          display: block;
          width: 100%;
          border-top: 1px solid $dater-primary-border-color;
          margin-bottom: 8px;
        }
      }

      .#{$ns}-dater-footer {
        height: $dater-foot-height;

        &::before {
          content: '';
          display: block;
          border-top: 1px solid $dater-primary-border-color;
        }

        & > .btns {
          height: inherit;
          padding: 0 12px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: $font-default-size;
          cursor: pointer;

          & > .timepicker {
            color: $dater-primary-text-selected-color;
          }

          & > .now {
            color: $dater-primary-text-button-text-color;
            font-size: $font-default-size;
            line-height: $font-default-line-height;
          }

          & > .confirm {
            color: $dater-primary-primary-button-text-color;
            background-color: $dater-primary-primary-button-bg-color;
            font-size: $font-default-size;
            line-height: $font-default-line-height;
            padding: 2px 7px;
            border-radius: 2px;
          }
        }
      }
    }
  }
}
