@import '../variables/size';

&.#{$ns}-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-icon {
  width: $icon-default;
  height: $icon-default;
  fill: currentColor;
  overflow: hidden;
}
