@import '../variables/namespace';
@import '../variables/color';
@import '../variables/animation';
@import '../variables/size';

.#{$ns}-message {
  box-shadow: $message-bg-shadow;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  min-height: 42px;
  border-radius: $message-border-radius;
  z-index: 9999;
  .#{$ns}-message-wrapper {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;

    .success {
      fill: $success;
    }

    .error {
      fill: $danger;
    }

    .warning {
      fill: $warning;
    }
    .#{$ns}-message-content {
      margin-left: 8px;
    }
  }

  &.light {
    background-color: $message-bg-color-light;
    box-shadow: $message-box-shadow-color-light;
    backdrop-filter: blur(20px);
    .#{$ns}-message-content {
      color: $message-text-dark-color;
    }
  }

  &.light::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $message-bg-color-light;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);
    z-index: -1;
  }

  &.dark {
    background-color: $message-bg-color-dark;
    box-shadow: $message-box-shadow-color-dark;
    backdrop-filter: blur(20px);
    .#{$ns}-message-content {
      color: $message-text-light-color;
    }
  }

  &.dark::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $message-bg-color-dark;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);
    z-index: -1;
  }
}
