@import '../variables/namespace';
@import '../variables/color';
@import '../variables/animation';
@import '../variables/size';
.#{$ns}-page-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  .page-left-arrow {
    width: 15px;
    height: 15px;
    fill: currentColor;
    overflow: hidden;
  }

  .page-right-arrow {
    width: 15px;
    height: 15px;
    fill: currentColor;
    overflow: hidden;
  }

  .angle-double-left {
    color: #057aff;
    margin-top: 2px;
  }

  .angle-double-right {
    color: #057aff;
    margin-top: 2px;
  }
  .#{$ns}-inner-btn {
    display: flex;
    flex-direction: row;
  }
  .#{$ns}-out-btn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 24px;
    border-radius: 2px;
    width: 24px;
    height: 24px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #374054;
    margin: -2px 5px 0 0;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .#{$ns}-out-btn-disable {
    cursor: not-allowed;
  }
  .#{$ns}-page-temp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 24px;
    border-radius: 2px;
    width: 24px;
    height: 24px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #374054;
    margin-right: 4px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .#{$ns}-quick {

  }
  .#{$ns}-quick-left:hover, .#{$ns}-quick-right:hover {

  }
  .#{$ns}-page-hover {
    &:hover {
      color: #057aff;
    }
  }
  .#{$ns}-page-pointer {
    cursor: pointer;
  }
  .#{$ns}-page-no-pointer {
    cursor: none;
  }
  .#{$ns}-page-active {
    background: #057aff;
    color: #fff;
  }
}
