@import '../variables/namespace';
@import '../variables/color';

.#{$ns}-range-slider {
  display: flex;
  align-items: center;
  height: 30px;
  margin: 0 8px;
  position: relative;
  .#{$ns}-range {
    margin: 0;
    appearance: none;
    width: 300px;
    outline: none;
    background-color: transparent;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: $primary;
      box-shadow: 0 3px 6px rgba($primary, 0.16), 0 0 6px rgba($primary, 0.3);
      margin-top: -8px;
    }

    &:focus {
      &::-webkit-slider-thumb {
        box-shadow: 0 0 0 3px rgba($primary, 0.3);
      }
    }

    &::-moz-range-thumb {
      -moz-appearance: none;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: $primary;
      box-shadow: 0 3px 6px rgba($primary, 0.16), 0 0 6px rgba($primary, 0.3);
      margin-top: -8px;
    }

    &:focus {
      &::-moz-range-thumb {
        box-shadow: 0 0 0 3px rgba($primary, 0.3);
      }
    }

    &::-webkit-slider-runnable-track {
      height: 4px;
      background-color: rgba($blue-gray-300, 0.6);
    }

    &::-moz-range-track {
      height: 4px;
      background-color: rgba($blue-gray-300, 0.6);
    }
  }

  .#{$ns}-range-fill {
    z-index: -1;
    height: 4px;
    background-color: $primary;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}
