@import '../variables/namespace';
@import '../variables/color';
@import '../variables/animation';
@import '../variables/size';

.#{$ns}-scrollbar.is-vertical:not(.is-horizontal) {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  .#{$ns}-scrollbar-wrapper {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &:hover {
      ~ .#{$ns}-scrollbar-bar {
        transition: all 0.1s linear;
        .#{$ns}-scrollbar-thumb {
          background-color: $scrollbar-color;
          transition: all 0.1s linear;
        }
      }
    }
  }
  .#{$ns}-scrollbar-bar {
    position: absolute;
    height: 100%;
    width: 8px;
    top: 2px;
    right: 0;
    bottom: 2px;
    z-index: 1;
    border-radius: 4px;
    .#{$ns}-scrollbar-thumb {
      width: 100%;
      cursor: pointer;
      position: absolute;
      border-radius: inherit;
      background-color: transparent;
      transition: all 0.1s linear;

      &:hover {
        background-color: $scrollbar-color;
        transition: all 0.1s linear;
      }
    }

    &:hover {
      width: 12px;
    }
  }

  .#{$ns}-grabbed {
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
}

.#{$ns}-scrollbar.is-horizontal:not(.is-vertical) {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  .#{$ns}-scrollbar-wrapper {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &:hover {
      ~ .#{$ns}-scrollbar-bar {
        transition: all 0.1s linear;
        .#{$ns}-scrollbar-thumb {
          background-color: $scrollbar-color;
          transition: all 0.1s linear;
        }
      }
    }
  }
  .#{$ns}-scrollbar-bar {
    position: absolute;
    width: 100%;
    height: 8px;
    top: 100%;
    transform: translate(0, -100%);
    right: 2px;
    left: 2px;
    z-index: 1;
    border-radius: 4px;
    .#{$ns}-scrollbar-thumb {
      height: 100%;
      cursor: pointer;
      position: absolute;
      border-radius: inherit;
      background-color: transparent;
      transition: all 0.1s linear;

      &:hover {
        background-color: $scrollbar-color;
        transition: all 0.1s linear;
      }
    }

    &:hover {
      height: 12px;
    }
  }

  .#{$ns}-grabbed {
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
}
