@import '../variables/namespace';
@import '../variables/color';
@import '../variables/animation';
@import '../variables/size';

.#{$ns}-select {
  position: relative;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid $select-field-primary-border-color;
  background-color: $select-field-primary-bg-color;

  &.#{$ns}-select-default {
    height: $select-default-height;
    .#{$ns}-select-field {
      height: 100%;
      width: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      .#{$ns}-search-item {
        width: 100%;
        height: $font-default-line-height;
        padding: 0 32px 0 12px;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        input {
          width: 100%;
          height: 22px;
          border: none;
          outline: none;
          font-size: $font-default-size;
          line-height: $font-default-line-height;
          color: $select-field-primary-text-color;
          padding: 0;
          background-color: transparent;

          &::placeholder {
            color: $select-field-primary-placeholder-color;
            font-size: $font-default-size;
          }
        }
      }

      .suffix-icon {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translate(0, -50%);
        display: flex;
        align-items: center;
        .#{$ns}-suffix {
          outline: none;
          color: $select-field-primary-icon-color;
          &.#{$ns}-loading {
            animation: rotating 0.5s linear infinite;
          }
        }
      }

      &.open {
        .suffix-icon {
          .#{$ns}-suffix {
            transform: rotate(180deg);
            &.#{$ns}-loading {
              animation: rotating 0.5s linear infinite;
            }
          }
        }
      }
    }
    &.#{$ns}-disabled {
      box-shadow: none;
      border: 1px solid $select-field-disabled-border-color;
      .#{$ns}-select-field {
        cursor: not-allowed;
        .#{$ns}-selected-item {
          color: $select-field-disabled-text-color;
          background-color: $select-field-disabled-bg-color;
        }
        .#{$ns}-search-item {
          color: $select-field-disabled-text-color;
          background-color: $select-field-disabled-bg-color;

          input {
            cursor: not-allowed;
            color: $select-field-disabled-text-color;
            background-color: $select-field-disabled-bg-color;
          }
        }

        .suffix-icon {
          .#{$ns}-suffix {
            color: $select-field-disabled-icon-color;
          }
        }
      }
    }
  }

  &.#{$ns}-select-multiple {
    min-height: $select-default-height;
    .#{$ns}-select-field {
      width: 100%;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: calc((#{$select-default-height} - 2px - #{$font-default-line-height}) / 2) 0;
      cursor: pointer;
      .#{$ns}-selected-group {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 32px 0 4px;
        box-sizing: border-box;
        font-size: $font-default-size;
        .#{$ns}-selected-item {
          padding: 2px 8px;
          box-sizing: border-box;
          display: flex;
          height: $font-default-line-height;
          align-items: center;
          background-color: #f4f4f5;
          border-radius: 4px;
          outline: none;
          color: $select-field-primary-text-color;
          margin: 1px;
          font-size: $font-default-size;

          .svg-icon {
            margin-left: 4px;
          }
        }
        .#{$ns}-search-item {
          flex: 1;
          position: relative;
          margin-left: 8px;

          input {
            border: none;
            outline: none;
            width: 100%;
            padding: 0;
            font-size: $font-default-size;
            line-height: $font-default-line-height;
            background-color: transparent;

            &::placeholder {
              color: $select-field-primary-placeholder-color;
              font-size: $font-default-size;
              outline: none;
            }
          }
        }
      }

      .suffix-icon {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 8px;
        display: flex;
        align-items: center;
        .#{$ns}-suffix {
          outline: none;
          color: $select-field-primary-icon-color;
          &.#{$ns}-loading {
            animation: rotating 0.5s linear infinite;
          }
        }
      }

      &.open {
        .suffix-icon {
          .#{$ns}-suffix {
            transform: rotate(180deg);
          }
        }
      }
    }
    &.#{$ns}-disabled {
      border: 1px solid $select-field-disabled-border-color;
      box-shadow: none;
      .#{$ns}-select-field {
        cursor: not-allowed;
        .#{$ns}-selected-item {
          color: $select-field-disabled-text-color;
        }
        .#{$ns}-search-item {
          color: $select-field-disabled-text-color;
          background-color: $select-field-disabled-bg-color;

          input {
            color: $select-field-disabled-text-color;

            &::placeholder {
              color: $select-field-disabled-placeholder-color;
            }
          }
        }

        .suffix-icon {
          .#{$ns}-suffix {
            color: $select-field-disabled-icon-color;
          }
        }
      }
    }
  }

  &.focus {
    outline: none;
    border: 1px solid $select-field-primary-active-border-color;
    box-shadow: $select-field-primary-active-box-shadow-color;
  }
}

.tippy-box {
  &[data-theme="select"] {
    margin-top: 8px;
    box-sizing: border-box;
    background-color: $select-list-primary-bg-color;
    border: 1px solid $select-list-primary-border-color;
    box-shadow: $select-list-primary-shadow-color;

    .tippy-content {
      background-color: $select-list-primary-bg-color;
      box-sizing: border-box;
      padding: 0;
      .#{$ns}-select-list {
        display: flex;
        border-radius: 4px;
        flex-direction: column;
        box-sizing: border-box;
        padding: 8px 0;
        .#{$ns}-select-item {
          height: $select-item-default-height;
          color: $select-list-item-primary-text-color;
          outline: none;
          padding-left: 12px;

          &.primary {
            & > div {
              display: flex;
              align-items: center;
              height: inherit;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: $font-default-size;

              .checked {
                color: $select-list-item-primary-active-text-color;
              }
            }

            &.disabled {
              & > div {
                color: $select-list-item-primary-disabled-text-color;
              }

              cursor: not-allowed;

              &:hover,
              &.active {
                cursor: not-allowed;

                & > div {
                  color: $select-list-item-primary-disabled-text-color;
                }
              }
            }

            cursor: pointer;

            &:hover {
              display: flex;
              justify-content: space-between;

              & > div {
                color: $select-list-item-primary-hover-text-color;
              }
            }

            &.active {
              color: $select-list-item-primary-active-text-color;
              background-color: $select-list-item-primary-active-bg-color;
              display: flex;
              justify-content: space-between;

              &::after {
                content: '';
                display: block;
                border-right: 4px solid $select-list-item-primary-active-right-border-color;
                height: 100%;
              }
            }
          }

          &.danger {
            & > div {
              display: flex;
              align-items: center;
              height: inherit;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: $font-default-size;
              color: $select-list-item-danger-text-color;
            }

            &.disabled {
              & > div {
                color: $select-list-item-danger-disabled-text-color;
              }

              cursor: not-allowed;

              &:hover,
              &.active {
                cursor: not-allowed;

                & > div {
                  color: $select-list-item-danger-disabled-text-color;
                }
              }
            }

            cursor: pointer;

            &:hover {
              display: flex;
              justify-content: space-between;

              & > div {
                color: $select-list-item-danger-hover-text-color;
              }
            }

            &.active {
              color: $select-list-item-danger-active-text-color;
              background-color: $select-list-item-danger-active-bg-color;
              display: flex;
              justify-content: space-between;

              &::after {
                content: '';
                display: block;
                border-right: 4px solid $select-list-item-danger-active-right-border-color;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}
