@import '../variables/namespace';
@import '../variables/color';
@import '../variables/size';

.#{$ns}-switch {
  position: relative;

  input[type='checkbox'] {
    display: none;

    & + label {
      display: flex;
      align-items: center;
      cursor: pointer;
      min-width: $switch-width;
      height: $switch-height;
      // border-radius: $switch-height / 2;
      border-radius: 11px;
      background-color: $switch-off-primary-bg-color;
      font-size: $font-default-size - 2px;
      color: $switch-primary-text-color;

      & > .inner {
        margin: 0 ($switch-height - $switch-check-height) / 2;
        display: flex;
        align-items: center;

        span {
          text-align: center;
          display: block;
          line-height: 100%;
        }
        .#{$ns}-check {
          height: $switch-check-height;
          width: $switch-check-width;
          border-radius: 50%;
          background-color: $switch-slider-primary-bg-color;
          // transform: translateX(($switch-height - $switch-check-height) / 2);
          // transition: all 0.3s ease;
        }
      }
    }
  }

  input[type='checkbox'] {
    &:checked {
      & + label {
        background-color: $switch-on-primary-bg-color;
        .#{$ns}-check {
          background-color: $switch-slider-primary-bg-color;
          // transform: translateX(26px);
          // transform: translateX(calc(#{$switch-width} - #{$switch-height - $switch-check-height} / 2 - 100%));
          // transition: all 0.3s ease;
        }
      }
    }
  }

  &.#{$ns}-hasText {
    input[type='checkbox'] {
      & + label {
        // justify-content: space-between;
        min-width: $switch-width;

        & > .inner {
          margin: 0 ($switch-height - $switch-text-check-height) / 2;
          .#{$ns}-check {
            height: $switch-text-check-height;
            width: $switch-text-check-width;
            border-radius: 50%;
            background-color: $switch-slider-primary-bg-color;
            // transition: all 0.3s ease;
          }
        }
      }
    }
  }

  &.#{$ns}-disabled {
    input[type='checkbox'] {
      & + label {
        background-color: $switch-on-disabled-bg-color;
      }

      &:checked {
        & + label {
          background-color: $switch-on-disabled-bg-color;
        }
      }
    }
  }
}
