@import '../variables/namespace';
@import '../variables/color';
@import '../variables/size';

.#{$ns}-table {
  display: block;

  table {
    border-collapse: collapse;
    border: 1px solid $table-primary-border-color;

    thead {
      tr {
        height: $table-row-default-height;
        background-color: $table-primary-header-bg-color;
        border-bottom: 1px solid $table-primary-border-color;
      }
    }

    tbody {
      .row {
        border-bottom: 1px solid $table-primary-border-color;

        tr:first-child {
          height: $table-row-default-height;
        }

        &:last-child {
          border-bottom: none;
        }
      }

      td {
        font-size: 13px;
        line-height: 20px;
        color: $table-primary-body-text-color;
      }
    }
  }

  th,
  td {
    display: flex;
    min-width: 150px;
    width: 100%;
    text-align: left;
    border: none;
    padding: 8px;
    align-items: center;
  }

  tr {
    display: flex;
  }

  th {
    font-size: 13px;
    line-height: 20px;
    color: $table-primary-body-text-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.#{$ns}-stripped {
    tbody .row:nth-child(odd) {
      background-color: $table-primary-body-stripped-bg-color;
    }
  }

  &.#{$ns}-fixedHeader {
    thead {
      tr {
        position: sticky;
        top: 0;
      }
    }
  }
}
