@import '../variables/namespace';
@import '../variables/color';
@import '../variables/animation';
@import '../variables/size';

.#{$ns}-textarea-field {
  position: relative;
  width: 100%;
  .#{$ns}-textarea {
    width: 100%;
    box-sizing: border-box;
    font-size: $font-default-size;
    color: $input-primary-text-color;
    outline: none;
    border: 1px solid $input-border-default-color;
    border-radius: 4px;
    padding: 10px;

    &::placeholder {
      color: $input-placeholder-default-color;
    }

    &:focus {
      border: 1px solid $primary;
    }
  }
  &.#{$ns}-disabled {
    textarea:hover {
      cursor: not-allowed;
    }

    textarea[disabled="disabled"] {
      background-color: transparent;
    }
    .#{$ns}-textarea {
      color: $input-text-disabled-color;
    }
    // background-color: $dropdown-bg-disabled;
  }
}
