@import '../variables/namespace';
@import '../variables/color';
@import '../variables/animation';
@import '../variables/size';

.#{$ns}-timepicker {
  position: relative;
  border-radius: 4px;
  display: flex;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  outline: none;
  border: 1px solid $timepicker-field-primary-border-color;
  background-color: $timepicker-field-primary-bg-color;

  .#{$ns}-timepicker-field {
    height: $timepicker-default-height;
    box-sizing: border-box;
    padding: 0 32px 0 12px;
    width: inherit;

    input {
      display: flex;
      align-items: center;
      width: inherit;
      height: inherit;
      box-sizing: border-box;
      font-size: $font-default-size;
      outline: none;
      border: none;
      padding: 0;
      background-color: transparent;
      color: $timepicker-field-primary-text-color;

      &::-ms-clear,
      input::-ms-reveal { display: none; }

      &::placeholder {
        color: $timepicker-field-primary-placeholder-color;
        font-size: $font-default-size;
      }
    }

    .#{$ns}-prefix {
      transition: all 0.1s linear;
      color: $timepicker-field-primary-icon-color;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 8px;
      display: flex;
      align-items: center;
      &.#{$ns}-loading {
        animation: rotating 0.5s linear infinite;
      }
    }

    .#{$ns}-suffix {
      cursor: pointer;
      transition: all 0.1s linear;
      color: $timepicker-field-primary-icon-color;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 8px;
      display: flex;
      align-items: center;
      &.#{$ns}-loading {
        animation: rotating 0.5s linear infinite;
      }
    }
  }

  &.focus {
    outline: none;
    border: 1px solid $timepicker-field-primary-active-border-color;
    box-shadow: $timepicker-field-primary-active-box-shadow-color;
  }

  &.#{$ns}-disabled {
    border: 1px solid $timepicker-field-disabled-border-color;
    .#{$ns}-timepicker-field {
      cursor: not-allowed;

      input {
        cursor: not-allowed;
        background-color: $timepicker-field-disabled-bg-color;
        color: $timepicker-field-disabled-text-color;

        &::-ms-clear,
        input::-ms-reveal { display: none; }

        &::placeholder {
          color: $timepicker-field-disabled-placeholder-color;
        }
      }
      .#{$ns}-suffix {
        cursor: not-allowed;
        color: $timepicker-field-disabled-icon-color;
      }
    }
  }
}

.tippy-box {
  &[data-theme="timepicker"] {
    margin-top: 8px;
    border: 1px solid $timer-primary-border-color;
    border-radius: 4px;
    box-shadow: $timer-primary-shadow-color;
    background-color: $white;
    width: $timer-default-width;
    box-sizing: border-box;
  }

  .tippy-content {
    padding: 0;
    .#{$ns}-timer {
      .#{$ns}-timer-body {
        display: flex;
        justify-content: space-between;
        background-color: $timer-primary-bg-color;
        .#{$ns}-scrollbar-wrapper {
          display: flex;
          justify-content: center;
        }
        .#{$ns}-hour,
        .#{$ns}-minute,
        .#{$ns}-second {
          width: 54px;
          background-color: $timer-primary-column-bg-color;

          div {
            padding: 3px 20px;
            font-size: $font-default-size;
            line-height: $font-default-line-height;
            text-align: center;
            cursor: pointer;
            color: $timer-primary-text-color;

            &:hover {
              background-color: $timer-primary-hover-text-bg-color;
              color: $timer-primary-hover-text-color;
            }

            &.active {
              background-color: $timer-primary-active-text-bg-color;
              color: $timer-primary-active-text-color;
            }
          }
        }
      }

      .#{$ns}-timer-footer {
        &::before {
          content: '';
          display: block;
          border-top: 1px solid $timer-primary-border-color;
        }

        & > .btns {
          height: 44px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: $font-default-size;
          padding: 0 12px;
          cursor: pointer;

          & > .confirm {
            color: $timer-primary-primary-button-text-color;
            background-color: $timer-primary-primary-button-bg-color;
            border-radius: 2px;
            padding: 2px 7px;
            font-size: $font-default-size;
            line-height: $font-default-line-height;
          }

          & > .now {
            color: $timer-primary-text-button-text-color;
            font-size: $font-default-size;
            line-height: $font-default-line-height;
          }
        }
      }
    }
  }
}
