// border radius
$border-default-radius: 4px;

// icon size
$icon-default: 15px;

// grid size
$grid-height: 50px;
$grid-width: 1fr;

// dropdown size
$dropdown-default-width: 180px;
$dropdown-default-height: 32px;
$dropdown-item-default-height: 34px;

// select size
$select-default-width: 180px;
$select-default-height: 32px;
$select-item-default-height: 34px;

// cascader size
$cascader-default-width: 180px;
$cascader-default-height: 32px;
$cascader-list-default-height: 186px;
$cascader-list-default-width: 180px;
$cascader-item-default-height: 34px;

// font size
$font-default-size: 1rem;
$font-default-line-height: 1.5;

// input size
$input-default-width: 180px;
$input-default-height: 32px;

// button size
$button-default-height: 38px;
$button-default-padding: 0.375rem 0.75rem;
$button-min-width: 100px;
$button-active-height: 28px;

// datepicker size
$datepicker-default-width: 180px;
$datepicker-default-height: 32px;
$dater-header-height: 40px;
$dater-body-height: 226px;
$dater-foot-height: 44px;
$dater-default-width: 280px;

// timepicker size
$timer-default-width: 168px;
$timepicker-default-height: 32px;

// datetimer size
$datetimer-default-width: 450px;
$datetimepicker-default-height: 32px;

// radio size
$radio-default-outline: 16px;
$radio-default-dot: 6px;

// checkbox size
$checkbox-default-width: 16px;
$checkbox-default-height: 16px;
$checkbox-default-checked: 10px;
$checkbox-default-indeterminate: 10px;
$checkbox-circle-border-radius: 8px;
$checkbox-default-radius: 2px;

// progress size
$progress-bar-default-width: 100%;
$progress-bar-default-height: 8px;

// upload size
$upload-default-height: 32px;
$upload-width: 120px;

// table row height
$table-row-default-height: 48px;

// accodion height
$accordion-header-default-height: 60px;
$accordion-header-bg-height: 40px;

// nav collapse
$nav-default-width: 248px;
$nav-collapse-width: 88px;
$nav-collapse-item-height: 60px;
$nav-collapse-item-wrapper-height: 40px;
$nav-collapse-cascader-item-width: 200px;

// switch size
$switch-height: 22px;
$switch-width: 46px;
$switch-check-height: 18px;
$switch-check-width: 18px;
$switch-text-check-height: 12px;
$switch-text-check-width: 12px;

// modal size
$modal-content-default-width: 520px;

// message
$message-border-radius: 4px;

// tree node
$tree-node-default-height: 28px;
$tree-node-active-bg-radius: 2px;
