.app {
  padding: 1rem;

  .button-variant {
    .rc-button {
      margin: 1rem;
    }
  }

  .button-type {
    .rc-button {
      margin: 1rem;
    }
  }

  .button-outline {
    .rc-button {
      margin: 1rem;
    }
  }

  .button-size {
    .rc-button {
      margin: 1rem;
    }
  }

  .button-with-icon {
    .rc-button {
      margin: 1rem;
    }
  }

  .button-with-loading {
    .rc-button {
      margin: 1rem;
    }
  }

  .button-disabled {
    .rc-button {
      margin: 1rem;
    }
  }

  .button-toggle {
    .rc-button {
      margin: 1rem;
    }
  }
}
