@import 'assets/scss/rb';

#app {
  height: 100%;
}

.layout {
  height: inherit;

  .layout-topbar {
    display: none;
  }

  .menu {
    height: 100%;
  }

  .home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

}

.rb-group {
  margin: 1rem;
}

.rb-title {
  font-size: 2rem;
  text-align: start;
}

.rb-buttons {
  margin: 1rem;

  .rb-button {
    display: inline-block;
    margin: 1rem;
  }
}
.rb-button-groups {
  margin: 1rem;

  .rb-button-group {
    margin: 1rem;
  }
}
.rb-accordions {
  margin: 1rem;

  .rb-accordion {
    margin: 1rem;
  }
}
.rb-alerts {
  margin: 1rem;

  .rb-alert {
    margin: 1rem;
  }
}
.rb-badges {
  margin: 1rem;

  .rb-badge-group {
    display: inline-block;
    margin: 1rem;
  }
}
.rb-breadcrumbs {
  margin: 1rem;

  .rb-breadcrumb-wrapper {
    margin: 1rem;
  }
}
.rb-carousels {
  margin: 1rem;

  .rb-carousel-wrapper {
    height: auto;
    margin: 1rem;
    width: 600px;
  }
}
.rb-dropdowns {
  margin: 1rem;

  .rb-dropdown-wrapper {
    display: inline-block;
    margin: 1rem;
  }
}
.rb-list-groups {
  margin: 1rem;

  .rb-list-group-wrapper {
    margin: 1rem;
  }
}
.rb-modals {
  margin: 1rem;

  .rb-modal-wrapper {
    margin: 1rem;
  }
}
.rb-navs {
  margin: 1rem;

  .rc-nav-wrapper {
    margin: 1rem;
  }
}

.rb-navbars {
  margin: 1rem;
  .rb-navbar-wrapper {
    margin: 1rem;
  }
}
.rb-offcanvases {
  margin: 1rem;
  .rb-offcanvas-wrapper {
    margin: 1rem;
  }
}
.rb-paginations {
  margin: 1rem;
  .rb-pagination-wrapper {
    margin: 1rem;
  }
}
.rb-placeholders {
  margin: 1rem;
  .rb-placeholder-wrapper {
    margin: 1rem;
  }
}
.rb-progresses {
  margin: 1rem;
  .rb-progress-wrapper {
    margin: 1rem;
  }
}
.rb-toasts {
  margin: 1rem;
  .rb-toast-wrapper {
    margin: 1rem;
  }
}
.rb-popovers {
  margin: 1rem;
  .rb-popover-wrapper {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rb-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
.rb-tooltips {
  margin: 1rem;
  .rb-tooltip-wrapper {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rb-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
.rb-checkboxes {
  margin: 1rem;
  .rb-checkbox-wrapper {
    margin: 1rem;
  }
}
.rb-radios {
  margin: 1rem;
  .rb-radio-wrapper {
    margin: 1rem;
  }
}
.rb-switches {
  margin: 1rem;
  .rb-switch-wrapper {
    margin: 1rem;
  }
}

@include media-breakpoint-down(lg) {
  .layout-sidebar {
    display: none;
  }

  .layout-topbar {
    display: block !important;
  }
}
